h1 {
 color: blue; /* لون العنوان */
}


p {
 font-size: 16px; /* تحديد حجم الخط */
}


#name {
 color: darkblue; /* تنسيق الاسم بال ID */
}


.highlight {
background-color: yellow; /* تمييز النص باستخدام اللاس */
}


/* 2. محددات الربط (combinator selectors) */
#courses p {
 color: #333; /* تنسيق الفقرات بقسم الدورات */
}


.skills-list > li { 
 color black /* تنسيق عناصر القائمة المباشرة */
}


/* 3. محددات الحالة(pseudo-class) */
a:hover {
 color: orange; /* لون الرابط عند المرور عليه*/
}


a:visited { 
 color: purple; /* لوم الرابط بعد الضغط عليه*/
}


/* 4 محددات العناصر الوهمية ( Pseudo-element) */
p::first-letter {
 color: red;
 font-size 20px; /*  تلوين اول حرف لكل فقرة */
}


.course-name::before {
 content: "- "; /*  اضافة شرط قبل كل اسم دورة */
}


/* محددات السمات (attribute selectors) */
a[target="_blank" {
 font-style: italic; /* جعل رابط لينكد ان مائل */
}


/* Bonus:  الصفحة تكون مريحة للعين على الجوال */
@media (max-width: 600px) {
    body {
        padding: 10px; /* تقليل المسافات الجانبية */
    }
    h1 {
        font-size: 24px; /* تصغير العنوان ليناسب شاشة الجوال */
    }
}
